<h1>BTC Tweets Index</h1>

<p>
  The average sentiment in the Twittersphere is currently: <%= @average_sentiment %>
</p>

<p>
  The current bid price for BTC on Coinbase is: <%= @bid %>
  The current offer price for BTC on Coinbase is: <%= @offer %>
</p>

<table>
  <tr>
    <th>User</th>
    <th>Body</th>
    <th>Sentiment</th>
  </tr>
 
<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.user %></td>
    <td><%= tweet.body %></td>
    <td><%= tweet.sentiment %></td>
  </tr>
<% end %>
</table>